<header class="main-header row">
<div class="container">
<div class="row">
	<div class="header col-md-12">
    	<ul class="left-header col-md-8 col-sm-6">
        	<li class="header-txt"><a href="#">Home</a></li>
            <li class="header-txt"><a href="#">Print/SMS Ticket</a></li>
            <li class="header-txt"><a href="#">Easy Cancel/Refund</a><sup class="sup">new</sup></li>
        </ul>
        <ul class="right-header col-md-4 col-sm-6">
        	<li class="header-txt">Need Help? Call</li>
            <li class="header-txt"><div class="contact"><div>Delhi</div><div class="toll-free-no"><span>011-30604245</span><span class="arrow"></span></div></div></li>
        </ul>
    </div>
  </div>
</div>
</nav>